@model IEnumerable<LeaveTypeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success"><i class="fa-sharp fa-solid fa-plus"></i>Create New</a>
</p>
<table class="table display responsive nowrap" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            <td>
                    <button data-id="@item.Id" class="btn btn-sm btn-primary allocateBtn" asp-route-id="@item.Id" type="button">Allocate Leave</button>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning"><i class="fa-sharp fa-solid fa-pen-to-square"></i>Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="fa-sharp fa-solid fa-circle-info"></i>Details</a> |
                    <button data-id="@item.Id" class="btn btn-sm btn-danger deleteBtn" asp-route-id="@item.Id" type="button"><i class="fa-sharp fa-solid fa-delete-left"></i>Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
<form id="deleteForm" asp-action="Delete">
    <input type="hidden" value="" id="leaveTypeId" name="Id" />
</form>
<form id="allocationForm" asp-action="AllocateLeave">
    <input type="hidden" value="" id="leaveTypeId" name="Id" />
</form>

@section Scripts
{
    <script>

        $(function(){
            $('.table').DataTable({
                "responsive": true, 
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            });

            $('.deleteBtn').click(function(e){
                swal({
                        title:"Are you sure?",
                        text:"Are you sure you want to delete this record?",
                        icon:"warning",
                        buttons:true,
                        dangerMode:true
                }).then((confirm)=>{
                    if(confirm)
                    {
                        var btn=$(this);
                        var id= btn.data("id");
                        $('#leaveTypeId').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });

            $('.allocateBtn').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to allocate this leave to all Employee",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#leaveTypeId').val(id);
                        $('#allocationForm').submit();
                    }
                });
            });
        });
    </script>
}
